.app__testimonials {

    background: rgb(230, 230, 230);

}

.app__testimonials-container h1 {

    background-color: rgb(230, 230, 230);
    font-size: 5em;
    text-align: center;
    padding: 1em 0 1em;
    margin-bottom: 0;

}

.app__testimonials-text {

    margin-bottom: 5%;

}

.app__testimonials-text h3 {

    color: #101010;
    font-size: 3em !important;
    margin-bottom: 5%;

}

.app__testimonials-text p {

    color: #101010;
    font-size: 1.5em !important;

}

.carousel-control-next-icon {

    background-image: url("/right.svg") !important;

}

.carousel-control-prev-icon {

    background-image: url("/left.svg") !important;

}

.carousel-indicators {

    display: none !important;

}

.d-block {
    width: 25vw !important;
}

@media screen and (max-width: 1280px) {

    .app__testimonials-text {

        margin-bottom: 5%;
    
    }

    .app__carrusel-item {

        margin-top: 10%;

    }

}

@media screen and (max-width: 920px) {

    .app__carrusel-item {

        margin-top: 25%;

    }

}

@media screen and (max-width: 720px) {

    .app__testimonials-container h1 {

        font-size: 3em;
    
    }

    .app__carrusel-item {

        margin-top: 40%;

    }

}

@media screen and (max-width: 560px) {

    .app__carrusel-item {

        margin-top: 70%;

    }

}

@media screen and (max-width: 450px) {

    .app__carrusel-item {

        position: relative;
        top: -10%;


    }

    .app__testimonials-text p {

        font-size: 1em !important;
    
    }

}